@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
}

@layer utilities {
  .container {
    max-width: unset;
    background-color: var(--container);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
  }

  .horizontal-list {
    display: flex;
    align-items: center;
    @apply gap-4;
  }

  .horizontal-list > * {
    border-right: 2px solid var(--bg-color);
    @apply pr-4;
  }

  .horizontal-list > *:last-child {
    border-right: none;
    @apply pr-0;
  }
}

:root {
  --bg-color: #eaedf1;
  --container: #fff;
  --btn-primary: #ee364a;
  --btn-primary-hov: #d52237;

  --btn-secondary: #337ab7;
  --btn-secondary-hov: #2570b2;

  --text-base: #555555;
  --text-heading: #3179b6;
}

body {
  background-color: var(--bg-color);
  font-family: var(--montserrat);

}
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  padding: 2px;
}
::-webkit-scrollbar-track {
  background: rgb(209, 209, 209);
  margin-left: 2px;
}
::-webkit-scrollbar-thumb {
  background-color: #7bb33e;
  border-radius: 9999px; /* Fully rounded */
  border: transparent;
}

main {
  @apply pl-4 md:pl-20 pr-4 py-4;
}

.btn {
  aspect-ratio: 1/1;
  @apply p-2 rounded-full transition-all duration-300;
}

.btn:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.hide-scrollbar {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.low {
  @apply border-[#feaf1f] bg-[#feaf1f] bg-opacity-20;
}
.medium {
  @apply border-[#f97116] bg-[#f97116] bg-opacity-20;
}
.high {
  @apply border-[#f34231] bg-[#f34231] bg-opacity-20;
}
.complete {
  @apply border-[#2dce89] bg-[#2dce89] bg-opacity-20;
}


.search-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
}